*.html
!Report Example.html
*.txt
!Scan/templates/*
!Scan/subdomains-top1million-5000.txt
!Scan/subdomains-top1million-20000.txt
Scan/fuzz.txt
*.zip
*.cfg
*.docx
blind-xss.yaml
test.py

.idea/
.cursor/*
!.cursor/rules/
.claude/*
!.claude/rules/
__pycache__/
Logs/
test/